/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2015, 8:27:58 PM
    Author     : Freddy Estevez
*/

#NavBar{
    position: fixed;
    bottom: 0;
    padding: 5px;
    height: 30px;
    width: 1002px;
    left: 134px;
    text-align: left;
    z-index: 100;
    
}
.link{
   position: relative;
   padding-bottom: 20px;
   margin-left: 10px;
}

#Banner{
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
      display: block;
      top: -20px;
    height: auto;
    text-align: left;
}

#BannerImg{
    position: relative;
    margin: auto;
    width: 80%;
    max-height: 120px;
    left: 10%;
    margin-bottom: 20px;
}

#ContentDiv{
    position: relative;
    width: 80%;
    min-height: 500px;
    height: auto;
    left:10%;
    right:10%;
    top: -36px;
    
}
.content{
    position: relative;
   
    margin-left:150px;
    margin-right: 50%;
    padding:5px;
    width: 70%;
    height: auto;
    max-height: 400px;
    max-width: 1200px;
    padding-bottom: 40px;
}

p{
    text-align: left;
}

.textContent{
    position: relative;
    width: 50px;
    max-width: 50px;
    min-height: 30px;
   padding-right: 5px;
}

h2{
    padding-left: 45px;
}

.slide{
     position: relative;
   
    display: block;
    margin: auto;
    padding:5px;
    max-height: 300px;
    max-width: 800px;
}

.slideDiv{
    height: 400px;
    width: 800px;
    display: block;
    margin: auto;
    position: relative;
}

.buttonsDiv{
    padding-bottom: 40px;
    position: relative;
    margin-left:150px;
    margin-right: 50%;
    width: 70%;
}

.button{
    display: inline-block;
    margin-left: 40px;
    position: relative;
    width: 30px;
    height: 30px;
    
}

.smallerDiv{
    display: block;
    margin-left: 240px;
    position: relative;
    width: 400px;
}

.caption{
    text-align: center;
}

h3{
    padding-top: 10px;
    margin-left: 20px;
}

.LeftContent{
    position: relative;
   
    
    margin-right: 50%;
    padding:3%;
    width: 70%;
    height: auto;
    max-height: 8%;
    max-width: 70%;
    padding-bottom: 10%;
}

.RightContent{
    position: relative;
   
    
    margin-left: 50%;
    padding:3%;
    width: 70%;
    height: auto;
    max-height: 8%;
    max-width: 70%;
    padding-bottom: 10%;
}

.CenterContent{
    position: relative;
   
    margin-left: 12%;
    margin-right: 50%;
    padding:3%;
    width: 70%;
    height: auto;
    max-height: 8%;
    max-width: 70%;
    padding-bottom: 10%;

}

.footer{
    text-align: center;
   
}