/* 
    Created on : Nov 21, 2015, 10:53:04 PM
    Author     : FreddyEstevez
*/

.fileToolbar{// file toolbar
    -fx-background-color: #3399ff;
    -fx-padding: 5px 5px 5px 5px;
}

.siteToolbar{// site toolbar
    -fx-background-color: #b3d9ff;
    -fx-padding: 5px 5px 5px 5px;
    -fx-alignment: center;
    -fx-font-size: 15px;
}

.siteToolbarButton{
    -fx-font-size: 15px;
}
.workSpaceToolbar{// workspace or right side buttons
    -fx-background-color: #b3d9ff;
    -fx-padding: 5px 10px 5px 10px;
    -fx-alignment: CENTER_LEFT;
}

.pageEditView{// vbox which holds component edit views
   -fx-background-color: #cce5ff;
   -fx-alignment: center; 
}

.componentEditView{//specific component edit views
    -fx-alignment: center;
    -fx-spacing: 50px;
    -fx-background-color: white;
    -fx-padding: 10px;
    -fx-font-size: 15px;
    
}

.heading{//the header or caption of each component if it has one
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    
}

.dialog{// style for dialog boxes
    -fx-background-color: #cce5ff;
    -fx-alignment: center;
    -fx-font-size: 15px;
}

.dialogButton{
    -fx-alignment: center;
}
.dialogImage{
    -fx-spacing: 30px;
    -fx-background-color:#cce5ff;
    -fx-alignment: center;
    -fx-font-size: 15px;
}

.dialogList{
    -fx-background-color:#cce5ff;
    -fx-font-size: 15px;
    -fx-alignment: center;
}

.slideEditView{
    -fx-background-color: white;
}

.exitButton{
    -fx-alignment: top-right;
}

.currentPage{
    -fx-bordor-color: blue;
    -fx-background-color: white;
    -fx-border-width: 3px;
}

.font1{
    -fx-font-family: Courgette;
}

.font2{
    -fx-font-family: Ubuntu;
}

.font3{
    -fx-font-family:Dosis;
}

.font4{
    -fx-font-family: Average;
}

.font5{
    -fx-font-family: Oxygen;
}